# Icebreaker Physical Constraints File (.pcf)
# 
# This file assigns inputs/outputs to physical pins numbers on the icebreaker board.
#
# This particular PCF is derived from:
# https://github.com/YosysHQ/icestorm/blob/master/examples/icebreaker/icebreaker.pcf
# and adapted to use naming mechanisms consistent with the BSG style
# guide

## Board Clock: 12 MHz
set_io -nowarn clk_i                  35

set_io -nowarn rst_i                  10

set_io -nowarn tx_o                    9
set_io -nowarn rx_i                    6
